
<%= render 'searchField' %>

</br>
</br>
<% if @repairs != nil && @repairs.size != 0%>
  <div class="row" id="repairResult">
  <div id="accordion" class="ui-accordion ui-widget ui-helper-reset">
    <% @repairs.each do |repair| %>
    <h3><a href="#"><%= repair.name %></a></h3>
    <div>
      <div id="price"><h2> <%= repair.price %> </h2></div>
      <div id="part"> Parts <br>
      <%= repair.parts %>
      </div>
      <br>
      <div id="trem"> Terms <br>
      <%= repair.terms %>
      </div>
      <div id="find_workshop">
      <%= link_to image_tag('find.png'), queryWorkshopByRepair_search_index_path(:repair_id => repair.id,:make => @makeName, :model => @modelName,:qryRepair => @qryRepair) %>
      </div>
    </div>
    <% end %>
  </div>
 </div>
<% end %>
