</br>

<% if @repairs != nil%>
  <div class="span11" id="repairResult">
  <div id="accordion" class="ui-accordion ui-widget ui-helper-reset">
    <% @repairs.each do |repair| %>
    <h3><a href="#"><%= repair.name %></a></h3>
    <div>
      <div id="price"><h2> <%= repair.price %> </h2></div>
      <div id="part"> Parts <br>
      <%= repair.parts %>
      </div>
      <br>
      <div id="trem"> Terms <br>
      <%= repair.terms %>
      </div>
      <div id="find_workshop">
      <%= link_to 'Find Workshops', queryWorkshopByRepair_search_index_path(:repair_id => repair.id), :class => 'btn btn-success' %>
      </div>
    </div>
    <% end %>
  </div>
 </div>
<% end %>